DATACAT_ADMIN_PASSWORD=12345678
DATACAT_EDITOR_URL=http://localhost:8200
DATACAT_EDITOR_VERSION=2.3.2
DATACAT_ISSUER=http://localhost:8200
DATACAT_PORT=8200
DATACAT_SECRET=mylongrandomlygeneratedsecret
DATACAT_VERSION=2.1.2
DATACAT_REST_API_VERSION=2.0.7
DATACAT_REST_API_PORT=6001
MAIL_HOST=mail
MAIL_PORT=2500
NEO4J_PASSWORD=neo4jneo4j

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=12345678

KEYCLOAK_URL=http://localhost:8091
KEYCLOAK_ISSUER_URI=https://keycloak:8080/realms/datacat
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=12345678
KEYCLOAK_DATACAT_REALM=datacat
KEYCLOAK_DATACAT_CLIENT_ID=datacat-api
KEYCLOAK_BCF_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_BCF_REALM=openfabtwin
KEYCLOAK_BCF_CLIENT_ID=bcf-server
KEYCLOAK_BCF_CLIENT_SECRET=KEEPyKW31Oomd29F9ubDakmrjjqebgdF
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=12345678

BIMSERVER_VERSION=1.6.1-SNAPSHOT

BCFSERVER_VERSION=v1.0.1
APP_EXTERNAL_URL=http://localhost:8181